<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iessanandres.proyectomultimedia"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <activity
            android:name=".Multimedia"
            android:label="@string/title_activity_multimedia" android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
             
        <activity
            android:name=".ActivCamara"
            android:label="Cámara" >
            <intent-filter>
                <action android:name="com.example.listviewopcionesproyect.ActivCamara" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
       
        <activity
            android:name=".RepMusic"
            android:label="Reproductor Música" >
            <intent-filter>
                <action android:name="com.example.listviewopcionesproyect.RepMusic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
         <activity
            android:name=".ActivyGaleria"
            android:label="Visor" >
            <intent-filter>
                <action android:name= "com.example.listviewopcionesproyect.ActivyGaleria" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
          <activity
            android:name=".ActiviVideo"
            android:label="Video" >
            <intent-filter>
                <action android:name="com.example.listviewopcionesproyect.ActiviVideo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           <activity
            android:name=".Grabador"
            android:label="Grabador de Voz" >
            <intent-filter>
                <action android:name="com.example.listviewopcionesproyect.Grabador" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           
            <activity
            android:name=".GrabarVideo"
            android:label="Grabador de Video" >
            <intent-filter>
                <action android:name="com.example.listviewopcionesproyect.GrabarVideo" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
           
        
    </application>

</manifest>